

{% stylesheet %}
  {{ 'product-benefits.css' | asset_url | stylesheet_tag }}
{% endstylesheet %}

<div class="product_benefit">
    <div class="left">
        <div class="item item1">
            <img src="" alt="">
            <p>
                Vet & nutritionist <br/> formulated
            </p>
        </div>
        <div class="item item2">
            <img src="" alt="">
            <p>
                Plant based 100% <br/> natural ingredients
            </p>
        </div>
        <div class="item item3">
            <img src="" alt="">
            <p>
                No fillers & additives, <br/> low fat & calorie
            </p>
        </div>
    </div>
    <div class="right">
        <div class="item item1">
            <img src="" alt="">
            <p>
                Clinically proven <br/> ingredients
            </p>
        </div>
        <div class="item item2">
            <img src="" alt="">
            <p>
                Hypoallergenic, <br/> grain & wheat free
            </p>
        </div>
        <div class="item item3">
            <img src="" alt="">
            <p>
                Recyclable <br/> eco-friendly pack
            </p>
        </div>
    </div>
    <div class="center">

    </div>
</div>


{% schema %}
{
  "name": "Benefit block",
  "settings": []
}
{% endschema %}

{% javascript %}
{% endjavascript %}









