.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  height: 280px;
  display: flex;
  flex-direction: column;
  flex: 1
}

.card__image {
  position: relative;
}

.card__image img {
  display: block;
  width: 100%;
  height: 180px;
}

.card__badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
}

.card__content {
  flex: 1;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}

.card__title a {
  color: #333;
  text-decoration: none;
}

.card__vendor {
  margin: 8px 0;
  color: #666;
  font-size: 16px;
}

.card__price {
  font-size: 18px;
}

.card__price--compare {
  color: #999;
  text-decoration: line-through;
  margin-right: 8px;
}

.card__price--current {
  color: #666;
}

.card__price--varies {
  color: #666;
  margin-left: 8px;
  font-size: 14px;
}

.card__rating {
  margin-top: 8px;
}

.card__rating i {
  color: #f5c330;
  font-size: 16px;
}

.card__rating i.filled {
  color: #f00;
}
