.product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style: none;
  gap: 32px;
}
