@media only screen and (min-width: 0px) and (max-width: 700px) {
.product_benefit {
width: 100%;
height: auto;
padding: 0px 16px;
box-sizing: border-box;
position: relative;
left: 0;
top: 0;
}

.product_benefit .left,
.product_benefit .right {
display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
width: 100%;
position: static;
left: 0;
top: 0;
}

.product_benefit .left .item,
.product_benefit .right .item {
display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
width: 100%;
height: auto;
position: static;
left: 0;
top: 0;
}

.product_benefit .left .item img,
.product_benefit .right .item img {
width: 64px;
height: 64px;
flex: none;
order: 0;
flex-grow: 0;
border-radius: 50%;
}

.product_benefit .left .item p,
.product_benefit .right .item p {
width: 100%;
height: auto;
font-family: 'Silka';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.4px;
color: #000000;
margin: 0;
}

.product_benefit .center {
width: 100%;
height: auto;
left: 0;
top: 0;
border-radius: 50%;
}
}